.about {
  &--header{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30em;
    background-image: url(bg-subpage.jpg);
    background-attachment: fixed;
    background-size: contain;
    margin-bottom: $gutter*8;
  }
  
  &--title {
    font-size: 3em;
    font-weight: 700;
    opacity: 0;
    color: white;
  }
}