.text {
  margin-right: $gutter;
  margin-bottom: $gutter*4;
  margin-left: $gutter;

  &--h2 {
    font-weight: 700;
  }

  &--p {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &--quote {
    float: right;
    padding: $gutter/2;
    margin-top: $gutter*2;
    margin-bottom: $gutter*2;
    margin-left: $gutter*4;
    font-size: 1.5em;
    font-style: italic;
    @include columns(6);

    &--name {
      margin-top: $gutter;
      font-size: 0.5em;
      font-style: normal;
    }
  }

  @media (max-width: 400px) {
    &--quote {
      float: none;
      margin: 0;
      @include columns(12);
    }
  }
}
