.label {
  width: 100%;
}

.text--field {
  width: 100%;
  margin-bottom: $gutter;
}

.dropdown--big {
  width: 100%;
  margin-bottom: $gutter;
}

.dropdown--small {
  width: 50%;
  margin-left: $gutter;
}

.radio {
  margin-bottom: $gutter;
}

.buy--legend {
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
}

.buy--div {
  width: 100%;
}

.div--container {
  @include columns(4);
}

.fieldset--container {
  @include columns(6);
}

.form--box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.order--button {
  display: inline-block;
  width: 300px;
  max-width: 256px;
  height: 35px;
  padding: 5px;
  margin-top: $gutter;
  overflow: hidden;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms ease, color 500ms ease;

  &:hover {
    color: #eee;
    background-color: #333;
  }
}

.order--box {
  width: $gutter*15;
  height: 35px;
  margin: auto;
  margin-bottom: 5em;
}

.monthyear--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.monthyear--item {
  display: flex;
  width: 100%;
}