.footer {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer--upper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.footer--p {
  font-size: 1em;
  color: #fff;
}

.footer--item {
  text-align: center;
  @include columns(3);
}

.footer--below {
  display: flex;
  width: 100%;
  padding-top: $gutter;
  padding-bottom: $gutter;
  font-size: 0.8em;
  justify-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.footer--below .footer--p {
  color: rgba(255, 255, 255, 0.5);
}
