.nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 3em;
  padding: $gutter;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: space-between;

  &--home {
    left: 1em;
    display: flex;
    font-family: "Roboto Slab", serif;
    font-size: 1.5em;
    font-weight: bold;
  }

  &--about {
    margin-right: $gutter;
    font-size: 1em;
  }

  &--buy {
    width: 4em;
    font-size: 1em;
  }

  &--index {
    display: flex;
    align-items: center;
  }

  &--container {
    display: flex;
    float: right;
    flex-direction: row;
    align-items: center;
  }

  &--a {
    color: #fff;
    text-decoration: none;
  }
}
