@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin-right: 20px;
  margin-left: 20px;
  overflow-x: hidden; }

h1 {
  font-family: 'Roboto Slab', serif; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.index--header {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: transparent url(bg.jpg) no-repeat center center fixed;
  background-size: cover;
  margin-bottom: 160px; }
  .index--header--content {
    margin: auto;
    display: flex;
    flex-direction: column; }
  .index--header--btn {
    margin: auto;
    margin-top: 40px;
    font-size: 1.5em;
    width: 5em;
    opacity: 0;
    animation: fade 1s ease-in forwards;
    animation-delay: 3s; }
  .index--header--title {
    font-size: 3em;
    font-weight: 700;
    opacity: 0;
    animation: fade 1s ease-in forwards;
    animation-delay: 2s; }
  .index--header--text {
    font-size: 1.5em;
    opacity: 0;
    animation: fade 1s ease-in forwards;
    animation-delay: 1s; }

.button {
  display: inline-block;
  max-width: 256px;
  padding: 5px 5px;
  overflow: hidden;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms ease, color 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }

.nav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; }
  .nav--home {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    font-weight: bold;
    left: 1em;
    display: flex; }
  .nav--about {
    font-size: 1em;
    margin-right: 20px; }
  .nav--buy {
    font-size: 1em;
    width: 4em; }
  .nav--index {
    display: flex;
    align-items: center; }
  .nav--container {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center; }

.nav a {
  color: white;
  text-decoration: none; }
