@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  overflow-x: hidden; }

h1 {
  /* stylelint-disable-line */
  font-family: "Roboto Slab", serif; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }

.offset-2 {
  margin-left: 16.66667%; }

@media (max-width: 599px) {
  .offset-sm-0 {
    margin-left: 0; } }

.label {
  width: 100%; }

.text--field {
  width: 100%;
  margin-bottom: 20px; }

.dropdown {
  width: 100%;
  margin-bottom: 20px; }

.gender {
  margin-bottom: 20px; }

.buy--header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30em;
  margin-bottom: 40px;
  text-align: center;
  background-image: url("bg-subpage.jpg");
  background-attachment: fixed;
  background-size: contain;
  opacity: 0.8; }

.buy--header--content {
  display: flex;
  margin: auto;
  flex-direction: column; }

.buy--header--title {
  font-size: 3em;
  font-weight: 700;
  color: white; }

.buy--legend {
  font-family: "Roboto Slab", serif;
  font-size: 1.5em; }

.buy--div {
  width: 100%; }

.div--container {
  width: 33.33333%; }

.fieldset--container {
  width: 50%; }

.form--box {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.order--button {
  display: inline-block;
  width: 300px;
  max-width: 256px;
  height: 35px;
  padding: 5px;
  margin-top: 20px;
  overflow: hidden;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms ease, color 500ms ease; }
  .order--button:hover {
    color: #eee;
    background-color: #333; }

.order--box {
  width: 300px;
  height: 35px;
  margin: auto;
  margin-bottom: 5em; }

.monthandyear {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.titleanddrop {
  display: flex;
  width: 100%; }

.dropdown2 {
  width: 50%;
  margin-left: 20px; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.index--header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 160px;
  text-align: center;
  background: transparent url("bg.jpg") no-repeat center center fixed;
  background-size: cover; }
  .index--header--content {
    display: flex;
    margin: auto;
    flex-direction: column; }
  .index--header--btn {
    width: 5em;
    margin: auto;
    margin-top: 40px;
    font-size: 1.5em;
    opacity: 0;
    animation: fade 1s ease-in forwards;
    animation-delay: 3s; }
  .index--header--title {
    font-size: 3em;
    font-weight: 700;
    opacity: 0;
    animation: fade 1s ease-in forwards;
    animation-delay: 2s; }
  .index--header--text {
    font-size: 1.5em;
    opacity: 0;
    animation: fade 1s ease-in forwards;
    animation-delay: 1s; }

.index--main {
  display: flex;
  margin-bottom: 160px;
  flex-direction: row; }
  .index--main--text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .index--main--img {
    width: 50%; }
  .index--main--check {
    height: 2em;
    margin-right: 10px; }
  .index--main--box {
    display: flex;
    flex-direction: row; }
  .index--main--container {
    display: flex;
    flex-direction: column; }
    .index--main--container--text {
      margin-bottom: 20px; }
  .index--main--btn {
    width: 25%; }
  @media (max-width: 600px) {
    .index--main--img {
      width: 100%; }
    .index--main--text {
      width: 100%;
      margin-bottom: 40px; } }

@media (max-width: 600px) {
  .index--main {
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column; } }

.index--bottom {
  width: 100%; }
  .index--bottom--p {
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-align: center; }
  .index--bottom--btn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }

.review {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .review--container {
    margin-bottom: 80px;
    width: 33.33333%; }
  .review--img {
    width: 80%;
    margin: auto;
    margin-bottom: 10px; }
  .review--image {
    border-radius: 50%; }
  .review--quote {
    margin-bottom: 10px;
    font-style: italic;
    font-weight: bold;
    text-align: center; }
  .review--text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .review--p {
    font-size: 0.75em;
    text-align: center; }
  .review--h2 {
    font-size: 1em;
    text-align: center; }
  @media (max-width: 600px) {
    .review--container {
      width: 50%; } }
  @media (max-width: 400px) {
    .review--container {
      width: 100%; } }

.button {
  display: inline-block;
  max-width: 16em;
  padding: 0.3125em;
  overflow: hidden;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms ease, color 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }

.nav {
  position: fixed;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 3em;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: space-between; }
  .nav--home {
    left: 1em;
    display: flex;
    font-family: "Roboto Slab", serif;
    font-size: 1.5em;
    font-weight: bold; }
  .nav--about {
    margin-right: 20px;
    font-size: 1em; }
  .nav--buy {
    width: 4em;
    font-size: 1em; }
  .nav--index {
    display: flex;
    align-items: center; }
  .nav--container {
    display: flex;
    float: right;
    flex-direction: row;
    align-items: center; }
  .nav--a {
    color: #fff;
    text-decoration: none; }

.text {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 80px; }
  .text--h2 {
    font-weight: 700; }
  .text--p {
    margin-bottom: 20px;
    margin-top: 20px; }
  .text--quote {
    font-size: 1.5em;
    font-style: italic;
    float: right;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    width: 50%; }
    .text--quote--name {
      font-size: 0.5em;
      font-style: normal;
      margin-top: 20px; }
  @media (max-width: 400px) {
    .text--quote {
      float: none;
      margin: 0;
      width: 100%; } }

.footer {
  background-color: rgba(0, 0, 0, 0.8); }

.footer--upper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.footer--p {
  font-size: 1em;
  color: #fff; }

.footer--item {
  text-align: center;
  width: 25%; }

.footer--below {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.8em;
  justify-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

.footer--below .footer--p {
  color: rgba(255, 255, 255, 0.5); }

.header {
  display: flex;
  width: 100%;
  height: 50vh;
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
  background: url("bg-subpage.jpg") no-repeat center;
  background-size: cover; }
  .header--text {
    padding-left: 20px;
    color: #fff; }
